.displayTasks__buttonBox {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .displayTasks__buttonBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

.displayTasks__controlButtons {
    font-size: 15px;
    color: hsl(180, 100%, 25%);
    background: none;
    border: none;
    margin-left: 20px;
    transition: 0.5s;
    padding: 10px;
}

.displayTasks__controlButtons:hover {
    cursor: pointer;
    color: hsl(180, 100%, 35%);
}

.displayTasks__controlButtons:active {
    cursor: pointer;
    color: hsl(180, 100%, 45%);
}

.displayTasks__controlButtons:disabled {
    cursor: pointer;
    color: #ccc;
}